{% extends '::base.html.twig' %}

{% block title %}
    {{ 'views.app.contact.title'|trans }}
{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-12 columns">
            <h1 class="headertitle text-center">
                {{ 'views.app.contact.title'|trans }}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="medium-6 columns panel contact">
            <h2 class="headertitle text-center">
                {{ 'views.app.contact.title1'|trans }}
            </h2>

            <p>
                {{ form(form) }}
            </p>
        </div>
        <div class="medium-6 columns panel contact">
            <h2 class="headertitle text-center">
                {{ 'views.app.contact.title2'|trans }}
            </h2>

            <p class="google_map_frame text-center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10109.88111529086!2d3.196226!3d50.692657!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd14ac8638a306382!2sEclairage+3000!5e0!3m2!1sfr!2sfr!4v1429646174712" width="400" height="300" frameborder="0" style="border:0"></iframe>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="small-10 small-centered columns">
            <p class="text-center">
                {{ 'views.app.contact.contact'|trans|raw }}
            </p>
        </div>
    </div>

{% endblock page %}